/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole generali */
body{
  font-family: 'Fredoka', sans-serif;
}

.container{
  width: 75%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px 50px;
  text-align: center;
}

h1{
  color: #E53170;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
/* /regole generali */

.text{
  margin-bottom: 20px;
}

/* members box */
.member-box{
  width: calc(100%/3);
  min-width: 350px;
  float: left;
  padding: 25px 20px;
  margin: auto;  
}

.member{
  background-color: #0F0E17;
  /*height: 100px;*/
  box-shadow: 0px 0px 10px 0 #0F0E17;
}

.member .pic img{
  height: 100px;
  float: left;
  margin-right: 10px;
}

.member .info{
  color: whitesmoke;
  text-align: left;
  padding: 10px;
}

.member .info h4, 
.member .info p, 
.member .info a{
  line-height: 25px;
}

.member .info h4{
  text-transform: uppercase;
}

.member .info a{
  text-decoration: none;
  color: #35B7C5;
}

.member .info a:hover{
  text-decoration: underline;
}
/* /members box */